.events-container-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.events-container .event-card {
    margin: 0.2rem;
}

.filter-events-section {
    margin: 2rem auto;
    width: 80vw;
}

.filter-events-section
.filter-events-row {
    margin-bottom: 1rem;
}

.filter-events-section
.filter-events-row
.filter-datetime-label {
    display: block;
}